<!doctype html>
<html lang="ru">
  <%- include('partials/head') -%>
  <body>
    <div class="container">
      <%- include('partials/navbar') -%>
      <%- include('partials/header') -%>
    </div>
    <%- include('partials/scripts') -%>
  </body>
</html>
