{% extends '../layout.twig' %}

{% block bodyblock %}
  {% if user is defined and post.published == false %}
    <div class="alert alert-info" role="alert">
      <strong>Внимание! Это превью!</strong> Статья пока что не опубликована. Для того чтобы её опубликовать нажмите <a href="/admin/publish/{{post._id}}?slug={{post.slug}}">вот тут</a>.
    </div>
  {% endif %}
  <hr>
  <article>{{ post.body }}</article>
{% endblock %}

